In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.enableHiveSupport().getOrCreate()

In [2]:
spark.sql("CREATE TABLE IF NOT EXISTS products(product_id INT, product_name STRING, price FLOAT)")

DataFrame[]

In [3]:
spark.sql("INSERT INTO products VALUES (1, 'apple', 130), (2, 'pen', 25), (3, 'bread', 30), (4,'butter', 60), (5, 'jam', 35)")

DataFrame[]

In [4]:
spark.sql("SELECT AVG(price) from products").show()
spark.sql("SELECT * FROM products ORDER BY price DESC;").show()
spark.sql("SELECT product_name, price FROM products ORDER BY price DESC LIMIT 1").show()

+----------+
|avg(price)|
+----------+
|      56.0|
+----------+

+----------+------------+-----+
|product_id|product_name|price|
+----------+------------+-----+
|         1|       apple|130.0|
|         4|      butter| 60.0|
|         5|         jam| 35.0|
|         3|       bread| 30.0|
|         2|         pen| 25.0|
+----------+------------+-----+

+------------+-----+
|product_name|price|
+------------+-----+
|       apple|130.0|
+------------+-----+

In [6]:
spark.sql("""
SELECT DISTINCT product_name, price
FROM products
ORDER BY price DESC
LIMIT 1 OFFSET 1
""").show()

+------------+-----+
|product_name|price|
+------------+-----+
|      butter| 60.0|
+------------+-----+