In [ ]:
#To compute TF-IDF (Term Frequency-Inverse Document Frequency)
#values of words from different
#types of corpora using R programming. The analysis will include:

In [ ]:
#Install the necessary packages.
if(!require(tm)){install.packages("tm")}
if(!require(tidytext)){install.packages("tidytext")}
if(!require(dplyr)){install.packages("dplyr")}

#Load the necessary libraries:
library(tm)
library(tidytext)
library(dplyr)

Loading required package: tm

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘tm’”
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘NLP’, ‘slam’, ‘BH’


Loading required package: tidytext

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘tidytext’”
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘SnowballC’, ‘janeaustenr’, ‘tokenizers’


Loading required package: dplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: NLP

In [ ]:
#Create the corpora:
# Corpus with unique values
corpus_unique <- Corpus(VectorSource(c("apple banana cherry", "dog elephant fish", "grape hat
ink")))
# Corpus with similar documents
corpus_similar <- Corpus(VectorSource(c("apple apple banana", "apple banana cherry", "banana
cherry apple")))
# Corpus with a single word repeated multiple times
corpus_repeated <- Corpus(VectorSource(c("apple apple apple", "apple apple apple", "apple apple
apple")))

In [ ]:
# Preprocess the text

preprocess_corpus <- function(corpus) {
  corpus <- tm_map(corpus, content_transformer(tolower))
  corpus <- tm_map(corpus, removePunctuation)
  corpus <- tm_map(corpus, removeNumbers)
  corpus <- tm_map(corpus, removeWords, stopwords("english"))
  corpus <- tm_map(corpus, stripWhitespace)
  return(corpus)
}

In [ ]:
#Create Document-Term Matrices and compute TF-IDF values:

dtm_unique <- DocumentTermMatrix(corpus_unique)
dtm_similar <- DocumentTermMatrix(corpus_similar)
dtm_repeated <- DocumentTermMatrix(corpus_repeated)
tfidf_unique <- weightTfIdf(dtm_unique)
tfidf_similar <- weightTfIdf(dtm_similar)
tfidf_repeated <- weightTfIdf(dtm_repeated)

In [ ]:
#Convert to data frame for better readability:

tfidf_to_df <- function(tfidf) {
as.data.frame(as.matrix(tfidf))
}
df_tfidf_unique <- tfidf_to_df(tfidf_unique)
df_tfidf_similar <- tfidf_to_df(tfidf_similar)
df_tfidf_repeated <- tfidf_to_df(tfidf_repeated)
df_tfidf_unique
df_tfidf_similar
df_tfidf_repeated

  apple     banana    cherry    dog       elephant  fish      grape
1 0.5283208 0.5283208 0.5283208 0.0000000 0.0000000 0.0000000 0.0000000
2 0.0000000 0.0000000 0.0000000 0.5283208 0.5283208 0.5283208 0.0000000
3 0.0000000 0.0000000 0.0000000 0.0000000 0.0000000 0.0000000 0.5283208
  hat       ink
1 0.0000000 0.0000000
2 0.0000000 0.0000000
3 0.5283208 0.5283208

  apple banana cherry
1 0     0      0.0000000
2 0     0      0.1949875
3 0     0      0.1949875

  apple
1 0
2 0
3 0